<html> 

<head><title>Edit</title> </head> 

<body> 

	<form action="addProduction.do" commandName="production">
		<table>
	        <tr>
	            <td>ProductionID</td>
	            <td><input type="text" name="productionid" value="$Production.productionid"/></td>
	        </tr>
	        <tr>
	            <td>ProductionName</td>
	            <td><input type="text" name="productionname" value="$Production.productionname"/></td>
	        </tr>
	        <tr>
	            <td>ProductionPrice</td>
	            <td><input type="text" name="price" value="$Production.price"/></td>
	        </tr>
	        <tr>
	            <td>ProductionDetail</td>
	            <td><input type="text" name="detail" value="$Production.detail"/></td>
	        </tr>
	        <tr>
	            <td colspan="3">
	                <input type="submit" value="ADD A RECORD" />
	            </td>
	        </tr>
	    </table>	
	</form>
</body> 

</html> 
